@model BodyViewModel

<table class="table-striped">
    <tr>
        <th>ID</th>
        <th>Function</th>

        <!-- Add additional columns here -->
    </tr>
    @foreach (Textilefunction b in Model.Function)
    {
        <tr>
            <td>@b.Id</td>
            <td>@b.Value</td>

            <!-- Display additional columns here -->
        </tr>
    }
</table>