@{
    ViewData["Title"] = "Fag el-Gamous";
}
<h1>@ViewData["Title"]</h1>

<div>
    <a asp-controller="Home" asp-action="Index">View Burial Information</a>
</div>

<div>
    <a asp-controller="Home" asp-action="Privacy">View Privacy Information</a>
</div>

<p>
    For over 25 years, archeological investigations have been conducted at Fag el-Gamous, a significant cemetery in Egypt, primarily by 
    BYU researchers. This excavation has gained worldwide attention for the intriguing insights obtained from the study of the Fag el-Gamous 
    mummies. Throughout multiple years of study, researchers have excavated more than 1,000 mummies and collected a wealth of data in field 
    notes, spreadsheets, and simple databases. This information includes the mummy's physical orientation in the ground, burial depth, hair 
    color, wrapping, sex, age, bone dimensions, accompanying items, and more. Researchers have also performed a range of analyses on the 
    excavated items, including carbon dating and DNA sequencing. The "dig" is organized using a grid system that assigns a unique identifier 
    to each burial location, which typically contains 40 or more mummies.
</p>
<br />
<br />
<p>
    As the quantity and diversity of data associated with this excavation have grown, a few challenges (and opportunities) have emerged.
    The researchers wanted the project to be completed using three overarching goals:
</p>
<ol>
    <li>
        Further organize the data and develop a website where aspects of this information can be shared with researchers and
        interested members of the public around the world.
    </li>
    <li>
        Allow the research team to view, filter, and query this data in many ways so they can answer a variety of academic
        research questions.
    </li>
    <li>
        Use the data and advanced analytical/machine-learning skills to predict, explain, and visualize the wealth of data,
        allowing further insights.
    </li>
</ol>

<br />
<br />
<br />


