@{
    ViewData["Title"] = "Fag el-Gamous";
}
<h1>@ViewData["Title"]</h1>

<h1>Fag el-Gamous Burial Records</h1>

<div>
    <a asp-controller="Home" asp-action="Index">View Burial Information</a>
</div>

<div>
    <a asp-controller="Home" asp-action="Privacy">View Privacy Information</a>
</div>

<p>
    Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been under
    archeological investigation (primarily by BYU researchers) for over 25 years. The excavation has garnered
    international attention because of the interesting insights gained by studying the Fag el-Gamous mummies.
    During multiple years of study, researchers have excavated more than 1,000 mummies and collected data in field notes,
    spreadsheets, and simple databases about each mummy’s location, physical orientation in the ground, burial depth,
    hair color, wrapping (including information about the textiles used), sex, age, bone (including skull and teeth)
    dimensions, items accompanying the mummy, and more. And, of course, there are many, many photographs. Offsite,
    researchers have performed a variety of analyses on the excavated items including carbon dating, DNA sequencing, and others.
    The “dig” is organized using a grid system where a square is defined by the coordinates North (N), East (E), South (S),
    and West (W) of an origin. It is common for two numbers to designate the distance from the origin in a direction
    (e.g., N 190/200 or E 40/50). Those squares are then subdivided into the Northwest (NW), Northeast (NE), Southeast (SE)
    or Southwest (SW) quadrant (section) of the square. An example burial location is: N 190/200 E 40/50 SE.
    Because many mummies (usually 40 or more) are found in each location, a number is assigned (e.g., N 190/200 E 40/50 SE #9)
    to uniquely identify the burial.
</p>
<br />
<br />
<p>
    As the quantity and diversity of data associated with this excavation have grown, a few challenges (and opportunities) have emerged.
    The researchers wanted the project to be completed using three overarching goals:
</p>
<ol>
    <li>
        Further organize the data and develop a website where aspects of this information can be shared with researchers and
        interested members of the public around the world.
    </li>
    <li>
        Allow the research team to view, filter, and query this data in many ways so they can answer a variety of academic
        research questions.
    </li>
    <li>
        Use the data and advanced analytical/machine-learning skills to predict, explain, and visualize the wealth of data,
        allowing further insights.
    </li>
</ol>

<br />
<br />
<br />


