@{
    ViewData["Title"] = "Fag el-Gamous";
}

<h1>Fag el-Gamous Burial Records</h1>



<div>
    <a asp-controller="Home" asp-action="MovieForm">Fill Out Form</a>
</div>

<div>
    <a asp-controller="Home" asp-action="Privacy">View Privacy Information</a>
</div>
