@{
    ViewData["Title"] = "Textile Burial Views";
}

@model BodyViewModel

<h1>Textile and Burial Records</h1>

<h3>Burial Main</h3>
<div>
    <partial name="_burialmain" />
</div>
<h3>Textile Main</h3>
<div>
    <partial name="textilemain" />
</div>
<h3>Color Main</h3>
<div>
    <partial name="_color" />
</div>
<h3>Function Main</h3>
<div>
    <partial name="_Function" />
</div>